APP_NAME=
APP_VERSION=
ENVIRONMENT=
DEBUG=

API_KEY=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=

OPENSEARCH_HOST=
OPENSEARCH_PORT=
OPENSEARCH_INDEX=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=